<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .modal{
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
        #add_errormsg,#edit_errormsg{
            color: red;
        }
    </style>
</head>
<body>
    <h1>学生列表</h1>
    <div>
        <a onclick="showaddModal();">添加</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>学生姓名</th>
                <th>班级名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in student_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td clsId="{{ row.class_id }}">{{ row.title }}</td>
                    <td>
                        <a onclick="edit_ShowModel(this);">编辑</a>
                        | |
                        <a href="/del_sts/?nid={{ row.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="shadow" class="shadow hide"></div>
    <div id="add_modal" class="modal hide">
        <p>
            学生姓名:<input id="st_name" type="text" name="name" />
        </p>
        <p>
            所属班级:<select id="addclassId" name="class_id">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="button" value="提交" onclick="addSend();"/><span id="add_errormsg"></span>
        <input type="button" value="取消" onclick="cancleModal();"  />
    </div>
    <div id="edit_modal" class="modal hide">
        <h3>编辑学生</h3>
        <p>
            学生姓名:<input id="edit_name" name="sts_name" type="text" placeholder="姓名"/>
            <input id="edit_id" name="sts_id" style="display: none"/>
        </p>
        <p>
            所属班级:
            <select id="edit_clsId" name="class_id">
                {% for row in class_list %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endfor %}
            </select>
        </p>
    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        function showaddModal() {
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('add_modal').classList.remove('hide');
        }
        
        function cancleModal() {
            document.getElementById('shadow').classList.add('hide');
            document.getElementById('add_modal').classList.add('hide');
            document.getElementById('edit_modal').classList.add('hide');
        }
        
        function edit_ShowModel(ths) {
            document.getElementById('shadow').classList.remove('hide');
            document.getElementById('edit_modal').classList.remove('hide');

            var row = $(ths).parent().prevAll();
            var class_id = $(row[0]).attr('clsId');
            var sts_name = $(row[1]).text();
            var sts_id = $(row[2]).text();
            console.log('班级id'+class_id)
            console.log(sts_name)
            console.log(sts_id)
            $('#edit_name').val(sts_name);
            $('#edit_id').val(sts_id);
            $('#edit_clsId').val(sts_id);


        }

        function addSend() {
            $.ajax({
                url: '/add_sts/',
                type: 'POST',
                data: {'name': $('#st_name').val(), 'class_id': $('#addclassId').val()},
                success: function (arg) {
                    arg = JSON.parse(arg);
                    if (arg.status) {
                        location.reload();
                    } else {
                        $('#add_errormsg').text(arg.message);
                    }
                }
            })
        }
    </script>
</body>
</html>